
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="stdId" class="in.sp.beans.Student">
        <property name="name" value="Deeepak"/>
        <property name="rno" value="23"/>
        <property name="email" value="jiio@gmail.com"/>
    </bean>

</beans>
